*.csv
.Rproj*
.Rhistory
.RData
.Rproj.user
venv/
__pycache__/
models/registry/
hyperparameter_tuning/
evaluation_plot.png
models/active_model.txt
data/processed/*.json
.idea/
src/data/
src/models/
src/__pycache__/
notebooks/.ipynb_checkpoints
backtests/backtest_price_equity_trades_nvda.png
scripts/.ipynb_checkpoints
*.png
experiments/experiments_log.jsonl
data/processed/missing_trading_days.json
*.json
!configs/**/*.json
*.jsonl
runs
CLAUDE.local
*.exe
logs
.playwright-mcp
