*.csv
.Rproj*
.Rhistory
.RData
.Rproj.user
venv/
__pycache__/
models/registry/
hyperparameter_tuning/
evaluation_plot.png
models/active_model.txt
data/processed/*.json
.idea/
src/data/
src/models/
src/__pycache__/
*.png
*.json
!.claude/*
.claude/settings.local.json
.claude/state/
!configs/**/*.json
*.jsonl
runs
CLAUDE.local
*.exe
logs
.playwright-mcp
